.bluetooth-container {
	margin-right: 15px;
	i {
		color: white;
		font-size: 20px;
	}
	i[title="notgood"] {
		color: red;
	}
	i[data-title="call-active"] {
		opacity: 0.2;
		margin-right: 5px;
		&[title="true"] {
			opacity: 1;
		}
	}
	> * {
		display: inline-block;
	}
	.icon-delivered {
		display: none;
	}
	a {
		cursor: pointer;
	}
	i[title="true"] + a[title="disconnected"] i { // in a call (true) and Bluetooth is disconnected (critical)
		color: red
	}
	i[title="false"] + a[title="disconnected"] i { // Not in a call with BT disconnected (no big deal)
		opacity: 0.2;
	}
}

.bluetooth-name {
	margin-left: 3px;
	font-size: 9px;
	vertical-align: 4px;
	text-transform: uppercase;
}