$ss-bar-height: 20px;
$ss-bar-width: 5px;
$ss-bar-spacing: 1px;
$ss-number-of-bars: 4;

.signal-strength {
	height: $ss-bar-height;
	width: $ss-bar-width * $ss-number-of-bars + $ss-bar-spacing * ($ss-number-of-bars - 1);
	display: inline-flex;
	justify-content: space-between;
	align-items: flex-end;
	.bar {
		background-color: rgba(white, 0.1);
		width: $ss-bar-width;
		display: inline-block;
		@for $i from 1 through $ss-number-of-bars {
			&.bar-#{$i} {
				height: percentage($i/$ss-number-of-bars);
			}
		}
	}
	@for $i from 1 through 5 {
		&[data-bars="#{$i}"] {
			.bar:nth-child(-n+#{$i}) {
				background-color: white;
			}
		}
	}
}